html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
        font-weight: 400;
    }

.container {
    max-width: 1200px;
    padding: 0 50px;
    margin: 0 auto;
}

/*=========== Navigation =========== */
.top-Navigation {
    background-color: #151515;
    width: 100%;
}

.Navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 

}
.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

#new-cars {
    color: #0066FF;
}

/*=========== Main page =========== */

.index-header {

}

.swiper {
    width: 100%;
    height: 100vh; 
}

.swiper-slide {
    height: 100vh;

    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
}


/*=========== Catalog page =========== */

.—Åar-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 60px;
}



/*=========== Contacts page =========== */