html {
    box-sizing: border-box
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    padding: 0 50px;
    margin: 0 auto;
}

/*=========== Main page =========== */




/*=========== Catalog page =========== */





/*=========== Contacts page =========== */