html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

li {
    list-style-type: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    /* padding: 0 50px; */
    margin: 0 auto;
}

.button {
    display: inline-block;
    padding: 15px 60px;
    background-color: black;
    color: #fff;
    font-weight: 700;
    font-size: 21px;
}

/*=========== Navigation =========== */
.top-Navigation {
    width: 100%;
}

.Navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    text-align: center;
    height: 100px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links li a:hover {
  color: #007bff;
  background-color: #f0f0f0;
  border-radius: 4px;
}


.nav-links a {
    color: #FFFFFF;
}


.catalog-header .top-Navigation {
    background-color: black;
    margin-bottom: 100px;
}



.car-selection_nav-list_item a {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
}

/* ============ Footer ============= */

.footer {
    background-color: #151515;
    color: #f0f0f0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer .container {
    max-width: 1020px;
}

.footer__info {
    display: flex;
    justify-content: space-between;

    margin-bottom: 50px;
}

.footer__info-item + .footer__info-item {
    margin-top: 15px;
}

.item-title {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer__icons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px ;
}

.footer__desc {
    max-width: 810px;
    text-align: center;
    margin: 0 auto 50px auto;
    align-items: center;
}

.footer__desc-text{
    font-size: 14px;
}

.footer__policy{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.footer__policy-item{

}

/*=========== Main page =========== */
    
.index-header {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
}

.index-main__text {
    position: absolute;
    pointer-events: none;

    z-index: 1;
    color: #FFFFFF;
    text-align: center;
    left: 0;
    right: 0;
}

.index-main__title {
    font-size: 54px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 40px;
}

.index-main__text .button {
    pointer-events: auto;
}

/* Sliper */

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: 100vh;
    display: none;
}

img.displaySlide {
    display: block;
    animation-name: fade;
    animation-duration: 1s;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 5px;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.slide-line {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 410px;
    margin-left: calc(50% - 205px);
    top: -80px;
}

.line {
    display: flex;
    display: block;
    width: 200px;
    height: 5px;
    background-color: #ffffff;
}

@keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1}
}

/* Advantages */

.advantages {
    margin-bottom: 120px;
}

.advantages__title {
    font-size: 36px;
    margin: 100px 0;
    text-align: center;
}

.advantages__cards {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.advantages__cards-item {
    max-width: 250px;
    text-align: center;
}

.advantages__card-icon {
    width: 125px;
    height: 125px;
    border: 1px solid #0066FF;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 60px 30px 60px;
}

.advantages__card-image {
    width: 40%;  
    height: 40%; 
    
    object-fit: contain;
}

.advantages__card-title {
    font-size: 18px;
    margin-bottom: 30px;
}

.advantages__card-desc {
    text-align: left;
}

/* Leasing */

.leasing .container {
    max-width: 600px;
}

.leasing__container {
    max-width: 580px;
    margin: 0 auto;
}

.leasing__title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 48px;
}

.leasing__text-top {
    margin-bottom: 30px;
}

.leasing__subtitle {
    font-size: 24px;
    margin-bottom: 30px;
}

.leasing__list {
    margin-left: 100px;
    margin-bottom: 70px;
}

.leasing__list-item {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-between;
}

.leasing__list-circle {
    padding: 20px 33px;
    background-color: #0066FF;
    color: #fff;
    border-radius: 50%;

    font-size: 45px;
    font-weight: 700;
}

.leasing__list-text {
    max-width: 280px;
}

/* Video */

.video {
    margin: 150px 0;
}

.video__title {
    text-align: center;
    font-size: 50px;

    margin-bottom: 30px;
}

.video__subtitle {
    text-align: center;

    font-size: 20px;
    margin-bottom: 40px;
}

.video__block {
    background-image: url(./images/img-index/video.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 1000px;
    height: 500px;
    margin: 0 auto;
}

/* Spare */

.spare {
    margin-bottom: 100px;
    
}

.spare__title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}

.spare__desc {
    max-width: 580px;
    margin: 0 auto 50px auto;
}

.spare__list {
    display: flex;
    justify-content: space-between;
}

.spare__card {
    max-width: 270px;
}

.spare__card-image {
    margin-bottom: 20px;
}

/* =========== Catalog page =========== */
    

.car-selection_title{
    text-align: center;
    margin-bottom: 50px; 
    font-size: 48px;
}

.car-card__image {
    display: block;
    width: 100%;
    height: 172px;


}
.car-selection_nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.car-selection__filter{
    text-decoration:none;
    font-size: 24px;
}

.car-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.car-card {
    width: 251px;
    display: inline-block;

    text-align: center;
    align-items: center;
    border: #000000 1px solid;
}



.car-card
.car-selection_nav{
    display: flex;
}

.car-card__link {
    display: flex;
    justify-content: center;
    /* padding: 10px 20px; */
    /* background-color: black; */
    border: 1px solid #0066FF;
    padding-bottom: 5px;
    align-items: center;
}

.car-card__item {
    padding-bottom: 10px;
}



/*=========== Contacts page =========== */