html {
    box-sizing: border-box
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}



/*=========== Main page =========== */




/*=========== Catalog page =========== */





/*=========== Contacts page =========== */