html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    padding: 0 50px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    background-color: black;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 21px;
    padding: 15px 70px;
    align-items: center;
}

/*=========== Navigation =========== */
.top-Navigation {
    width: 100%;
}

.Navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 

}
.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #FFFFFF;
    font-weight: 500;
}

#new-cars {
    color: #0066FF;
}

/*=========== Main page =========== */


.top__swiper {
    width: 100%;
    height: 100vh;
    position: relative;
}

.swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;}
.index-header {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
}

.index-main__text {
    position: absolute;
    z-index: 1;
    color: #FFFFFF;
    text-align: center;
    left: 0;
    right: 0;
}

.index-main__title {
    font-size: 54px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 40px;
}

/* Sliper */

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: 100vh;
    display: none;
}

img.displaySlide {
    display: block;
    animation-name: fade;
    animation-duration: 1s;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 5px;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.slide-line {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 410px;
    margin-left: calc(50% - 205px);
    top: -80px;
}

.line {
    display: flex;
    display: block;
    width: 200px;
    height: 5px;
    background-color: #ffffff;
}

@keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1}
}

/* Advantages */

.advantages {
    margin-bottom: 100px;
}
.advantages__title {
    font-size: 36px;
    margin-top: 100px;
    margin-left: 350px;
    margin: 100px 0 60px 350px;
}

.advantages__cards {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.advantages__cards-item {
    max-width: 250px;
    text-align: center;
}

.advantages__card-icon {
    width: 125px;
    height: 125px;
    border: 1px solid #0066FF;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 60px 30px 60px;
}

.advantages__card-image {
    width: 40%;  
    height: 40%; 
    
    object-fit: contain;
}

.advantages__card-title {
    font-size: 18px;
    margin-bottom: 30px;
}

.advantages__card-desc {
    text-align: left;
}

/* Затемнение */
.top__swiper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 21, 21, 0.3);
    left: 0;
    top: 0;
    z-index: 5;
}

/* Стили для пагинации (полоски) */
.swiper-pagination.swiper-pagination-bullets {
    z-index: 10; /* Должен быть выше чем z-index у ::after */
    bottom: 40px; /* Отступ снизу */
}

.swiper-pagination-bullet {
    width: 120px;
    height: 3px;
    background-color: #151515;
    border-radius: 0;
    opacity: 1;
    margin: 0 5px !important; /* Расстояние между полосками */
}

.swiper-pagination-bullet-active {
    height: 6px;
    background-color: #fff;
}
/*=========== Catalog page =========== */
    
.car-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 60px;
}



/*=========== Contacts page =========== */